<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
 	</head>
 	<body>
    <div id="topbarwrapper">
      {{#username}}
      <p>Welcome, {{username}}</p>
      <form action="/" method="post"><button type="submit">Play!</button></form>
      <form action="/logout" method="post"><button type="submit">Logout</button></form>
      {{/username}}
      {{^username}}
      <form action="/loginredirect" method="post"><button type="submit">Login</button></form>
      <form action="/signupredirect" method="post"><button type="submit">Sign Up</button></form>
      {{/username}}
    </div>
    <h1>Statistics</h1>
      {{#}}
 	  <script type="text/javascript" src="main.js"></script>
 	</body>
 </html>
