input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
html {

}
#timeholder{
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#topbarwrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid red;
  height: 70px;
}
#topbarwrapper button, #topbarwrapper form{
  height: 70px;
  display: inline-grid;
  float: right;
  width: 100px;
}
#body{
  text-align: center;
  padding-top: 80px;
}
