input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
html {
  background-color: rgb(230, 255, 255);
  font: 15px arial, sans-serif;
}
#timeholder{
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#topbarwrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(170, 0, 190);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(171,0,190,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(171,0,190,1);
  box-shadow: 0px 0px 25px 0px rgba(171,0,190,1);
}
#topbarwrapper button{
  cursor: pointer;
  height: 70px;
  display: inline;
  float: right;
  width: 100px;
  background-color: rgb(50, 0, 200);
  color: white;
  font-size: 17px;
  transition-duration: 1s;
  border: none;
}
#topbarwrapper button:hover{
  background-color: rgb(0, 100, 255);
  font-size: 15px;
}
#topbarwrapper p{
  margin: 5px;
  transform: translateY(50%);
  display: inline;
  float: left;
  color: white;
  font-size: 25px;
}
#body{
  text-align: center;
  padding-top: 80px;
}
#loginbody{
  text-align: center;
  padding-top: 80px;
  transform: translateY(50%);
}
#pregame{
  text-align: center;
  width: 100%;
}
#pregame button{
  width: 30%;
  height: 100px;
}
#pregame form{
  width: 33%;
  display: inline;
}
.playerstats span{
  padding: 15px;
}
#mysteryword{
  text-transform: uppercase;
}
